{% block content %}
    <h1>Info</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td>Name</td>
            <td>{{ workload.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ workload.description }}</td>
        </tr>
        <tr>
            <td>Machine</td>
            <td>{{ workload.run_machine.name }}</td>
        </tr>
        <tr>
            <td>Run time</td>
            <td>{{ workload.run_date }}</td>
        </tr>
    </table>
    <h1>Usage</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Core</th>
            {% for t in cpu_types %}
                <th>{{ t }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for usage in cores %}
            <tr>
                <td>{{ usage }}</td>
                {% for t in cpu_types %}
                    <td>
                        {%  for q in types %}
                            <p>
                                {{ q }} - {{ usage|cpu_usage:t| cpu_usage_2:q|get_item:usage_list }}
                            </p>
                            {% endfor %}
                            </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h1>IO</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        {% for usage in io_types %}
            <tr>
                <td>{{ usage }}</td>
                <td>
                    {%  for t in types %}
                        <p>
                            {{ t }} - {{ usage|io_usage:t|get_item:io_list }}
                        </p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h1>Processes</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Task</th>
            <th>Params</th>
            <th>Results</th>
        </tr>
        </thead>
        {% for execution, results, params in execution_list %}
            <tr>
                <td>{{ execution.name }}</td>
                <td>{{ execution.task.name }}</td>
                <td>
                    {% for p in params %}
                        <p>
                            {{ p.key }} - {{ p.value }}
                        </p>
                    {% endfor %}
                </td>
                <td>
                    {% for p in results %}
                        <p>
                            {{ p.key }} - {{ p.value }}
                        </p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <button type="button" onclick="history.back();">Back</button>
{% endblock %}