{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Run date</th>
            <th>Machine</th>
            <th>Show</th>
        </tr>
        </thead>
        {% for workload in workload_list %}
            <tr>
                <td>{{ workload.name }}</td>
                <td>{{ workload.run_date }}</td>
                <td>{{ workload.machine.name }}</td>
                <td>
                    <button type="button" onclick="new_workload_comment({{ workload.id }});">
                        Add comment
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}